<!DOCTYPE html>
<html lang="en">
<html lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/output.css">
    
    <!-- Favicon -->
    <link rel="icon" href="static/img/LogoWhite.svg" />
    <title>Document</title>
</head>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;600;700&display=swap');

    :root {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
            Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
            "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
            "Source Han Sans CN", sans-serif;
    }
</style>

<body class="h-auto w-screen bg-white">
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css" rel="stylesheet" />
    <section class="flex h-screen w-screen items-center justify-center">
        <div class="flex h-full w-full flex-col items-center justify-between">
            <div class="mt-10 flex h-full w-full items-center justify-center">
                <img class="h-[10vh] w-auto" src="static/img/LogoWhite.svg"  alt="Logo">
            </div>

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="mb-3 text-red-600">
                        {{ messages[0] }}
                    </div>
                {% endif %}
            {% endwith %}

            <form action="{{ url_for('login') }}" method="post"
                class="flex h-auto w-[65vw] flex-col items-center justify-center sm:w-[50vw] md:w-[35vw] lg:w-[28vw]">
                <h1 class='mb-10 text-center text-xl font-extrabold sm:text-2xl md:text-3xl lg:text-4xl'>
                    Welcome back
                </h1>
                
                <div class="mb-3 w-full cursor-pointer rounded-md bg-gradient-to-tl from-secondary to-primary p-[2px]">
                    <input
                        class="flex w-full rounded-md border-0 bg-white px-3 py-2 text-xs font-medium text-dark outline-0 placeholder:text-primary md:text-sm lg:text-base"
                        type="text" name="username" placeholder="Username*" autofocus required>
                </div>

                <div class="mb-3 w-full cursor-pointer rounded-md bg-gradient-to-tl from-secondary to-primary p-[2px]">
                    <input
                        class="flex w-full rounded-md border-0 bg-white px-3 py-2 text-xs font-medium text-dark outline-0 placeholder:text-primary md:text-sm lg:text-base"
                        type="password" name="password" placeholder="Password*" required>
                </div>

                <button type="submit" class='w-full rounded-md font-semibold text-white hover:opacity-80'>
                    <h1 class="h-full w-full rounded-md bg-gradient-to-tl from-secondary to-primary px-3 py-2">
                        Sign In
                    </h1>
                </button>
            </form>

            <div class='mb-5 flex h-full flex-col justify-end'>
                <h1 class='text-xs text-primary lg:text-sm'>
                    <a href="#">Terms of Use</a> | <a href="#">Privacy Policy</a>
                </h1>
            </div>
        </div>
    </section>
</body>
</html>
