{% extends 'base.html' %}
{% block content %}
<section class="h-full w-full items-center justify-center p-12">
    <div class="w-full h-auto flex justify-between items-center mt-14 mb-8">
        <h1
            class="bg-gradient-to-tl from-secondary to-primary bg-clip-text text-start text-[3vw] font-extrabold text-transparent">
            Warehouse
        </h1>
    </div>
    <div class="flex w-full h-full">
        <div class="flex ml-2 flex-col rounded-md p-8 w-full border-[5px] border-secondary">
            <div class="w-full h-full">
                <h1
                    class="mb-5 bg-gradient-to-tl from-secondary to-primary bg-clip-text text-start text-[2vw] font-extrabold text-transparent">
                    List Items
                </h1>
                <div class="w-full overflow-y-auto h-[50vh] pr-2">
                    <table class="w-full table-auto">
                        <thead>
                            <tr>
                                <th>
                                    <h1
                                        class="bg-gradient-to-tl from-secondary to-primary text-white rounded-md text-lg mr-1 px-3 py-2 text-start">
                                        Name
                                    </h1>
                                </th>
                                <th>
                                    <h1
                                        class="bg-gradient-to-tl from-secondary to-primary text-white rounded-md text-lg mx-1 px-3 py-2 text-start">
                                        Price
                                    </h1>
                                </th>
                                <th>
                                    <h1
                                        class="bg-gradient-to-tl from-secondary to-primary text-white rounded-md text-lg mx-1 px-3 py-2 text-start">
                                        Amount
                                    </h1>
                                </th>
                            </tr>
                            <tr>
                            <tr>
                                <td colspan="2">
                                    <div id="wheelDropdown"
                                        class="mt-1 items-center rounded-md flex justify-between bg-gradient-to-tl from-secondary to-primary cursor-pointer">
                                        <h1
                                            class="text-white font-bold text-left px-3 py-2 outline-0 md:text-base lg:text-lg">
                                            Wheel</h1>
                                        <svg id="wheelArrow"
                                            class="mr-5 h-[2vh] md:h-[3vh] w-auto text-white transform transition-transform duration-300 rotate-0"
                                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                            viewBox="0 0 24 24">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                                stroke-width="2"
                                                d="M16.881 16H7.119a1 1 0 0 1-.772-1.636l4.881-5.927a1 1 0 0 1 1.544 0l4.88 5.927a1 1 0 0 1-.77 1.636Z" />
                                        </svg>
                                    </div>
                                </td>
                                <td class="w-[5.8vw] h-full">
                                    <div class="w-[5.8vw] flex cursor-pointer rounded-md bg-gradient-to-tl from-secondary
                                        to-primary text-primary hover:text-white text-lg font-semibold ml-1 mt-2
                                        p-[2px]" id="buyItems-Supplier1">
                                        <button class="w-full justify-center items-center flex rounded-md border-0 bg-white px-1
                                        py-[0.85rem] outline-0 hover:bg-gradient-to-tl from-secondary to-primary text-primary
                                        hover:text-white">
                                            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                                fill="none" viewBox="0 0 18 18">
                                                <path stroke="currentColor" stroke-linecap="round"
                                                    stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16" />
                                            </svg>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </thead>
                        <!-- Wheel -->
                        <tbody id="wheelList" class="visible">
                            {% for item in items_supplier1 %}
                            <tr>
                                <td>
                                    <div
                                        class="cursor-pointer rounded-md bg-gradient-to-tl from-secondary to-primary text-white text-lg font-semibold mr-1 my-1 p-[2px]">
                                        <h1 class="flex rounded-md border-0 bg-white px-1 py-2 text-xs
                                        text-primary  outline-0 md:text-sm lg:text-base">
                                            {{ item['name'] }}
                                        </h1>
                                    </div>
                                </td>
                                <td>
                                    <div
                                        class="cursor-pointer rounded-md bg-gradient-to-tl from-secondary to-primary text-white text-lg font-semibold mx-1 my-1 p-[2px]">
                                        <h1
                                            class="flex rounded-md border-0 bg-white px-1 py-2 text-xs outline-0 text-primary md:text-sm lg:text-base">
                                            {{ item['price'] | currency }}
                                        </h1>
                                    </div>
                                </td>
                                <td>
                                    <div
                                        class="cursor-pointer rounded-md bg-gradient-to-tl from-secondary to-primary text-white text-lg font-semibold mx-1 my-1 p-[2px]">
                                        <h1
                                            class="flex rounded-md border-0 bg-white px-1 py-2 text-xs outline-0 text-primary md:text-sm lg:text-base">
                                            {{ item['amount'] }}
                                        </h1>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                            <script>
                                let iswheelOpen = true;
                                const wheelDropdown = document.getElementById('wheelDropdown');
                                const wheelList = document.getElementById('wheelList');
                                const wheelArrow = document.getElementById('wheelArrow');

                                // Toggle dropdown visibility
                                wheelDropdown.addEventListener('click', () => {
                                    iswheelOpen = !iswheelOpen;
                                    if (iswheelOpen) {
                                        wheelList.classList.remove('hidden');
                                        wheelArrow.classList.remove('rotate-180');
                                        wheelArrow.classList.add('rotate-0');
                                    } else {
                                        wheelList.classList.add('hidden');
                                        wheelArrow.classList.remove('rotate-0');
                                        wheelArrow.classList.add('rotate-180');
                                    }
                                });
                            </script>
                        </tbody>
                        <tbody>
                            <tr>
                                <td colspan="2">
                                    <div id="frameDropdown"
                                        class="mt-1 items-center rounded-md flex justify-between bg-gradient-to-tl from-secondary to-primary cursor-pointer">
                                        <h1
                                            class="text-white font-bold text-left px-3 py-2 outline-0 md:text-base lg:text-lg">
                                            Frame</h1>
                                        <svg id="frameArrow"
                                            class="mr-5 h-[2vh] md:h-[3vh] w-auto text-white transform transition-transform duration-300 rotate-0"
                                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                            viewBox="0 0 24 24">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                                stroke-width="2"
                                                d="M16.881 16H7.119a1 1 0 0 1-.772-1.636l4.881-5.927a1 1 0 0 1 1.544 0l4.88 5.927a1 1 0 0 1-.77 1.636Z" />
                                        </svg>
                                    </div>
                                </td>
                                <td class="w-[5.8vw] h-full">
                                    <div class="w-[5.8vw] flex cursor-pointer rounded-md bg-gradient-to-tl from-secondary
                                        to-primary text-primary hover:text-white text-lg font-semibold ml-1 mt-2
                                        p-[2px]" id="buyItems-Supplier2">
                                        <button class="w-full justify-center items-center flex rounded-md border-0 bg-white px-1
                                        py-[0.85rem] outline-0 hover:bg-gradient-to-tl from-secondary to-primary text-primary
                                        hover:text-white ">
                                            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                                fill="none" viewBox="0 0 18 18">
                                                <path stroke="currentColor" stroke-linecap="round"
                                                    stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16" />
                                            </svg>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <!-- Frame -->
                        <tbody id="frameList" class="visible">
                            {% for item in items_supplier2 %}
                            <tr>
                                <td>
                                    <div
                                        class="cursor-pointer rounded-md bg-gradient-to-tl from-secondary to-primary text-white text-lg font-semibold mr-1 my-1 p-[2px]">
                                        <h1 class="flex rounded-md border-0 bg-white px-1 py-2 text-xs
                                        text-primary  outline-0 md:text-sm lg:text-base">
                                            {{ item['name'] }}
                                        </h1>
                                    </div>
                                </td>
                                <td>
                                    <div
                                        class="cursor-pointer rounded-md bg-gradient-to-tl from-secondary to-primary text-white text-lg font-semibold mx-1 my-1 p-[2px]">
                                        <h1
                                            class="flex rounded-md border-0 bg-white px-1 py-2 text-xs outline-0 text-primary md:text-sm lg:text-base">
                                            {{ item['price'] | currency }}
                                        </h1>
                                    </div>
                                </td>
                                <td>
                                    <div
                                        class="cursor-pointer rounded-md bg-gradient-to-tl from-secondary to-primary text-white text-lg font-semibold mx-1 my-1 p-[2px]">
                                        <h1
                                            class="flex rounded-md border-0 bg-white px-1 py-2 text-xs outline-0 text-primary md:text-sm lg:text-base">
                                            {{ item['amount'] }}
                                        </h1>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                            <script>
                                let isframeOpen = true;
                                const frameDropdown = document.getElementById('frameDropdown');
                                const frameList = document.getElementById('frameList');
                                const frameArrow = document.getElementById('frameArrow');

                                // Toggle dropdown visibility
                                frameDropdown.addEventListener('click', () => {
                                    isframeOpen = !isframeOpen;
                                    if (isframeOpen) {
                                        frameList.classList.remove('hidden');
                                        frameArrow.classList.remove('rotate-180');
                                        frameArrow.classList.add('rotate-0');
                                    } else {
                                        frameList.classList.add('hidden');
                                        frameArrow.classList.remove('rotate-0');
                                        frameArrow.classList.add('rotate-180');
                                    }
                                });
                            </script>
                        </tbody>
                        <tbody>
                            <tr>
                                <td colspan="2">
                                    <div id="sparePartDropdown"
                                        class="mt-1 items-center rounded-md flex justify-between bg-gradient-to-tl from-secondary to-primary cursor-pointer">
                                        <h1
                                            class="text-white font-bold text-left px-3 py-2 outline-0 md:text-base lg:text-lg">
                                            Spare Part</h1>
                                        <svg id="sparePartArrow"
                                            class="mr-5 h-[2vh] md:h-[3vh] w-auto text-white transform transition-transform duration-300 rotate-0"
                                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                            viewBox="0 0 24 24">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                                stroke-width="2"
                                                d="M16.881 16H7.119a1 1 0 0 1-.772-1.636l4.881-5.927a1 1 0 0 1 1.544 0l4.88 5.927a1 1 0 0 1-.77 1.636Z" />
                                        </svg>
                                    </div>
                                </td>
                                <td class="w-[5.8vw] h-full">
                                    <div class="w-[5.8vw] flex cursor-pointer rounded-md bg-gradient-to-tl from-secondary
                                        to-primary text-primary hover:text-white text-lg font-semibold ml-1 mt-2
                                        p-[2px]" id="buyItems-Supplier3">
                                        <button class="w-full justify-center items-center flex rounded-md border-0 bg-white px-1
                                        py-[0.85rem] outline-0 hover:bg-gradient-to-tl from-secondary to-primary text-primary
                                        hover:text-white ">
                                            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                                fill="none" viewBox="0 0 18 18">
                                                <path stroke="currentColor" stroke-linecap="round"
                                                    stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16" />
                                            </svg>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% include 'modalWarehouse.html' %}

    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
    <div id="modal-1" class="modal-container blur-background overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-[10001]
        justify-center items-center w-full md:inset-0 h-full">
        <div class="w-full h-full flex justify-center items-center relative">
            <div
                class="{% if category == 'error' %} border-red-500 border-2 rounded-md sm:w-auto max-w-[80vw] sm:max-w-none {% else %} w-auto min-w-[35vw] max-w-[80vw] md:max-w-[40vw] {% endif %}">
                <div
                    class="relative rounded-md shadow {% if category == 'error' %} w-full h-full bg-red-50 {% else %} flex flex-col justify-center box-gradient-border-third p-3 {% endif %}">
                    <div
                        class="flex items-center justify-between border-b rounded-t {% if category == 'error' %} px-4 py-2 md:px-5 border-red-200 {% else %} p-4 md:p-5 {% endif %}">
                        <h3
                            class="font-bold {% if category == 'error' %} text-xs md:text-base lg:text-lg text-red-500 {% else %} text-sm md:text-lg lg:text-xl text-primary {% endif %}">
                            {% set category, message = messages[0] %}
                            {% if category == 'success' %}
                            Success
                            {% elif category == 'error' %}
                            Error
                            {% endif %}
                        </h3>
                        <button class="close-modal rounded-md text-sm w-8 h-8 ms-auto inline-flex justify-center
                            items-center {% if category == 'error' %}text-red-400 bg-transparent hover:bg-red-200
                            hover:text-red-900 {% else %} boxes-svg2 text-dark hover:text-white{% endif %}">
                            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                                viewBox="0 0 14 14">
                                <path stroke="currentColor" strokeLinecap="round" strokeLinejoin="round" strokeWidth="2"
                                    d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                            </svg>
                            <span class="sr-only">Close modal</span>
                        </button>
                    </div>
                    <div class="{% if category == 'error' %} py-2 px-4 md:px-6 {% else %} p-4 md:p-6 {% endif %}">
                        <div class="w-full h-full flex flex-col justify-center items-start z-100">
                            {% for category, message in messages %}
                            <div
                                class="text-xl font-semibold mb-3 {% if category == 'success' %} text-green-600 {% elif category == 'error' %} text-red-600 {% endif %}">
                                {{ message|safe }}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        // Tambahkan event listener untuk menutup modal ketika tombol 'Close' diklik
        document.querySelectorAll('.close-modal').forEach(button => {
            button.addEventListener('click', function () {
                const modalElement = document.getElementById('modal-1'); // Ambil modal by ID

                // Sembunyikan modal dengan menghapus elemen dari DOM atau menambah class 'hidden'
                if (modalElement) {
                    modalElement.classList.add('hidden');
                }
            });
        });
    </script>
    {% endif %}
    {% endwith %}
</section>
{% endblock %}